* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #0a1020 !important;
}

p {
  color: #fff;
  opacity: 100%;
}

h1 {
  color: #fff;
}

a {
  text-decoration: none;
}

/* navigation bar */
.navigation {
    display: flex;
    height: auto;
    justify-content: center;
    align-items:  center;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    z-index: 1;
}

@media screen and (max-width: 991px) {
    .nav-bar {
        min-width: 80vw !important;
    }
}


.nav-bar {
    height: 55px;
    width: auto;
    max-width: 1000px;
    min-width: 50vw;
    display: flex;
    position: static;
    margin: auto;
    background-color: rgba(211,211,211,.34);
    backdrop-filter: blur(20px);
    margin-top: 20px;
    border: 2px solid rgba(125,125,125,.17);
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    margin: auto 32px;
}

.logo {
    max-width: 100%;
    height: 40px;
    margin-left: 30px;
    transition: .3s;
    vertical-align: middle;
}

.logo:hover {
    cursor: pointer;
    margin-bottom: 6px;
    transition: .3s;
}

.nav-links {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}


.nav-bar a {
    padding-right: 30px;
    color: #222;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    transition: .3s;
}

.nav-bar a:hover {
    margin-bottom: 6px;
    transition: .3s;
}



/* gallery*/
.art-intro {
  height: 90px;
}

  .gallery-track {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    will-change: transform;

  }
  
  .card {
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
  
    & .card-image-wrapper {
      height: 135%;
      will-change: transform;
  
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  } 
  
  @media (width < 800px) {
    .gallery-track {
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media (width < 550px) {
    .gallery-track {
      grid-template-columns: repeat(1,1fr);
    }
  }



.intro {
  width: 60vw;
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.intro > img {
  width: 500px;
}

.intro-text > h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 45px;
}

.intro-text > p {
  color: #AE57FE;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 991px) {
  .intro {
    width: 95vw !important;
  }
  
  .intro > img {
    width: 200px;
  }

  .intro-text > h1 {
    font-size: 28px;
  }

  .intro-text > p {
    font-size: 10px;
  }

}

/*projects section*/
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.projects > h1 {
  margin: 20px auto 0 auto;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #fff;
}

.project-container {
  width: 70vw;
  height: auto;
  padding: 30px;
  justify-content: space-between;
  margin: auto;
  border: 2px solid rgba(174, 87, 254, .3);
  background: #0a1020;
  border-radius: 10px;
  margin-bottom: 30px;
  opacity: .6;
}

.project-container:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(174, 87, 254, 0.7), 0 6px 20px 0 rgba(174, 87, 254, 0.69);
}

.project-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.project-text > h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.project-text > p {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  width: 40vw;
}

.project-image-container {
  width: 30vw;
  height: 30vh;
  border: 4px solid rgba(174, 87, 254, .6);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.project-image-container:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(174, 87, 254, 0.8), 0 4px 20px 0 rgba(174, 87, 254, 0.79);
}

.project-image-container > a > img {
  width: 35vw;
  transition: .5s;
}

.project-image-container > a > img:hover {
  width: 45vw;
  transition: .5s;
}

/*experience section*/
.experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience > h1 {
  margin: 20px auto 0 auto;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #fff;
}

.experience-container {
  display: flex;
  width: 70vw;
  height: auto;
  padding: 30px;
  justify-content: space-between;
  margin: auto;
  border: 2px solid rgba(174, 87, 254, .3);
  background: #0a1020;
  border-radius: 10px;
  margin-bottom: 30px;
  opacity: .6;
}

.experience-container:hover {
  box-shadow: 0 4px 8px 0 rgba(174, 87, 254, 0.7), 0 6px 20px 0 rgba(174, 87, 254, 0.69);
  opacity: 1;
}

.experience-left > p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.experience-right {
  height: auto;
  width: 30vw;
}

.experience-right > h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.experience-right > p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* education section */
.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.education > h1 {
  margin: 20px auto 0 auto;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #fff;
}

.education-container {
  width: 70vw;
  height: auto;
  padding: 30px;
  justify-content: space-between;
  margin: auto;
  border: 2px solid rgba(174, 87, 254, .3);
  background: #0a1020;
  border-radius: 10px;
  margin-bottom: 30px;
  opacity: .6;
}

.education-container:hover {
  box-shadow: 0 4px 8px 0 rgba(174, 87, 254, 0.7), 0 6px 20px 0 rgba(174, 87, 254, 0.69);
  opacity: 1;
}

.education-top-row {
  display: flex;
  justify-content: space-between;
}

.education-left {
  margin-bottom: 30px;
}

.education-left > h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
  
}

.education-left > p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.education-date {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* footer */
footer {
  height: auto;
  margin: 60px auto 30px auto;
}

.socials {
  display: flex;
  justify-content: center;
  margin: auto;
}

.socials > a {
  text-decoration: none;
  margin-right: 20px;
}

.socials, i:hover {
  color: #AE57FE;
  transition: .3s;
}

.socials, i {
  color: #fff;
  font-size: 1.7rem;
  transition: .3s;
}

.copyright {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.copyright, p {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  opacity: .6;
}


/* badges */
.badges {
  background: rgba(174, 87, 254, 0.7);
  border-radius: 50px;
  padding: 5px 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 10px 0;
}

.badges > p {
  color: #fff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: flex;
  margin: auto;
}

/* bar */
.bar {
  display: flex;
  justify-content: center;
  background: #AE57FE;
  width: 2vw;
  height: 4px;
  border-radius: 50px;
  margin: 5px auto 30px auto;
}

/*spotlight effect*/

  #spotlight {
    position: fixed;
    opacity: 1;
    width: 400vw;
    height: 200vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -999;
  }
